#header {
  margin-top: 6%;
  margin-bottom: 3%;
  font-size: 30px;
}

.headertext {
  text-align: center;
}

button {
  border: none;
  background-color: grey;
  color: white;
  margin: 3% auto;
  display: block;
  font-size: 16px;
  padding: 0 4%;
}
button:hover {
  background-color: black;
  color: white;
}

#profileoutput {
  margin: 0 auto;
  width: 90%;
}
img {
  float: right;
  height: 200px;
  width: 200px;
}

/* Styling the svg loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loader {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.loader svg path,
.loader svg rect {
  fill: green;
}
